<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
  <% if current_user %>
    <p>Hola <%= current_user.email %>!</p>
    <p> Te doy la bienvenida al Blog</p>
  <% else %>
    <p>Te invito a que te registres o inicies sesión</p>
  <% end %>
